<html lang="en">

<head>
    <title>SANAU - eCommerce Platform</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="~/fonts/icons.css">
    <link rel="stylesheet" href="~/vendors/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/vendors/nouislider/dist/nouislider.min.css">
    <link rel="stylesheet" href="~/css/styles.bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Wrapper -->
    <div class="wrapper">
        @RenderBody()

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top bg-light py-4 py-lg-10 border-top border-gray-200">
                <div class="container">
                    <div class="row g-4 g-lg-10">
                        <div class="col-lg-8">
                            <div class="row g-4">
                                <div class="col-12 col-md">
                                    <div class="widget widget-links">
                                        <h3 class="widget-title">Quick Access</h3>
                                        <ul class="widget-list">
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Smartphones</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Tablets</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Televisions</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Headphones</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Speakers</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Cameras</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Computers</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Notebooks</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Watches</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-md">
                                    <div class="widget widget-links">
                                        <h3 class="widget-title">Customer Care</h3>
                                        <ul class="widget-list">
                                            <li class="widget-list-item"><a class="widget-list-link" href="account-login.html">My Account</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="shop-cart.html">My Cart</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="track-order.html">Order Tracking</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="wishlist.html">Wish List</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Customer Support</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">FAQs</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Warranty</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-md">
                                    <div class="widget widget-links">
                                        <h3 class="widget-title">Information</h3>
                                        <ul class="widget-list">                                            
                                            <li class="widget-list-item"><a class="widget-list-link" href="about-us.html">About Us</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="contacts.html">Contacts</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Terms &amp; Conditions</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Returns &amp; Exchanges</a></li>
                                            <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping &amp; Delivery</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-4">
                                <h6 class="mb-2">Newsletter</h6>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email Address" aria-label="Subscribe" aria-describedby="button-subscribe">
                                    <button class="btn btn-primary" type="button" id="button-subscribe">Subscribe</button>
                                </div>
                                <div class="d-flex justify-content-center mt-2">
                                    <i class="ri-send-plane-line text-muted fs-sm me-2"></i>
                                    <span class="text-muted fs-sm">Subscribe for newsletter and receive a discount coupon for your purchases.</span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="text-primary ri-customer-service-2-line" style="font-size: 2.5rem;"></i>
                                    </div>
                                    <div class="col">
                                        <h6 class="mb-0">24/7 Tech Support</h6>                                        
                                        <a href="tel:+2025550135" class="nav-link-base">202-555-0135</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="text-primary ri-map-pin-line" style="font-size: 2.5rem;"></i>
                                    </div>
                                    <div class="col">
                                        <h6 class="mb-1 font-weight-bold">Address Info</h6>
                                        <span>7686 West Ivy St. Brooklyn, NY 11211, USA</span>
                                    </div>
                                </div>                                
                            </div>
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="text-primary ri-timer-line" style="font-size: 2.5rem;"></i>
                                    </div>
                                    <div class="col">
                                        <h6 class="mb-1 font-weight-bold">Working Hours</h6>
                                        <span class="d-block">Mon - Fri: 9AM - 6PM</span>
                                        <span class="d-block">Sat: 10AM - 3PM</span>
                                    </div>
                                </div>                                
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-secondary border-top py-4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-3 text-center text-lg-start">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="link-accent fs-xl" href="#">
                                        <i class="ri-facebook-line"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="link-danger fs-xl" href="#">
                                        <i class="ri-google-line"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="link-info fs-xl" href="#">
                                        <i class="ri-twitter-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 text-center">
                            <a href="index.html" class="nav-link-base fs-sm">&copy; 2024 - Sanau Commerce</a>
                        </div>
                        <div class="col-12 col-lg-3 text-center text-lg-end mt-3 mt-lg-0">
                            <img class="d-inline-block align-middle" src="~/img/shop/cards.png" width="246" alt="Cerdit Cards">
                        </div>
                    </div>                    
                </div>
            </div>            
        </footer>
        <!-- Footer -->

        <!-- Mobile Toolbar for Mobile Devices -->
        <div class="mobile-toolbar">
            <a class="mobile-toolbar-item " href="wishlist.html">
                <span class="mobile-toolbar-icon">
                    <i class="ri-heart-line"></i>
                </span><span class="mobile-toolbar-label">Wishlist</span>
            </a>
            <a class="mobile-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                <span class="mobile-toolbar-icon">
                    <i class="ri-menu-line"></i>
                </span>
                <span class="mobile-toolbar-label">Menu</span>
            </a>
            <a class="mobile-toolbar-item" href="shop-cart.html">
                <span class="mobile-toolbar-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span class="badge bg-danger rounded-pill ms-1">5</span>
                </span>
                <span class="mobile-toolbar-label">Cart</span>
            </a>
        </div>
        <!-- Mobile Toolbar for Mobile Devices -->
    </div>
    <!-- Wrapper -->

    <!-- Scripts -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendors/nouislider/dist/nouislider.min.js"></script>
    <script src="~/js/app.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Scripts -->
</body>

</html>