<!-- Hero Section -->
<section class="hero py-3 py-lg-4">
    <div class="container">
        <div class="hero-swiper">
            <div class="swiper hero-swiper-body">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hero-grid">
                            <div class="hero-grid-item hero-grid-item-md">
                                <a href="#"><img src="~/img/product-grid/card-md-notebooks.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-cameras.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item hero-grid-item-lg d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-lg-smartphones.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-processors.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-power.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-headphones.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-flash.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-controllers.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hero-grid">
                            <div class="hero-grid-item hero-grid-item-md">
                                <a href="#"><img src="~/img/product-grid/card-md-smartphones.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-mousepads.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item hero-grid-item-lg d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-lg-ultrabooks.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-games.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-bag.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-monitors.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-powerbanks.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-pc.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hero-grid">
                            <div class="hero-grid-item hero-grid-item-md">
                                <a href="#"><img src="~/img/product-grid/card-md-tablets.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-mobo.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item hero-grid-item-lg d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-lg-consoles.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-cases.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-mouse.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item">
                                <a href="#"><img src="~/img/product-grid/card-sm-speakers.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-cooler.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                            <div class="hero-grid-item d-none d-lg-block">
                                <a href="#"><img src="~/img/product-grid/card-sm-cables.png" alt=""
                                        class="img-cover w-100 h-100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-swiper-button hero-swiper-button-prev"></div>
            <div class="hero-swiper-button hero-swiper-button-next"></div>
            <div class="hero-swiper-pagination">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section -->

<!-- Benefits -->
<div class="benefits">
    <div class="container my-10">
        <div class="row g-4 g-lg-0 gx-lg-4">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="d-flex align-items-start">
                    <span class="icon-shipping-boat text-accent me-4" style="font-size:3rem;"></span>
                    <div class="d-flex flex-column">
                        <h6 class="mt-1 mb-1 fs-md">Free Shipping</h6>
                        <span class="text-muted fs-ms">Free shipping on orders over 150$</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="d-flex align-items-start">
                    <span class="icon-support-24 text-accent me-4" style="font-size:3rem;"></span>
                    <div class="d-flex flex-column">
                        <h6 class="mt-1 mb-1 fs-md">Online Support</h6>
                        <span class="text-muted fs-ms">Online support 24 hours a day</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="d-flex align-items-start">
                    <span class="icon-coupon text-accent me-4" style="font-size:3rem;"></span>
                    <div class="d-flex flex-column">
                        <h6 class="mt-1 mb-1 fs-md">Member Discount</h6>
                        <span class="text-muted fs-ms">Discount for regular customers</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="d-flex align-items-start">
                    <span class="icon-money-return text-accent me-4" style="font-size:3rem;"></span>
                    <div class="d-flex flex-column">
                        <h6 class="mt-1 mb-1 fs-md">Money Return</h6>
                        <span class="text-muted fs-ms">Moneyback guarantee under 14 days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Benefits -->

<!-- Product Cards -->
<div class="container pt-0 pt-sm-5">
    <!-- Swiper Heading -->
    <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom border-gray-300 pb-4 mb-4">
        <h2 class="h3 mb-0 me-2">Trending Products</h2>
        <div class="ms-0">
            <ul class="nav">
                <li class="nav-item me-3">
                    <button class="btn btn-link products-swiper-button-prev nav-link link-info link-hover-primary p-0"
                        type="button" title="Previous">
                        <i class="ri-arrow-left-s-line fs-4"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link products-swiper-button-next nav-link link-info link-hover-primary p-0"
                        type="button" title="Next">
                        <i class="ri-arrow-right-s-line fs-4"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Swiper Heading -->

    <!-- Slider -->
    <div class="products-swiper">
        <div class="swiper products-swiper-body py-4">
            <div class="swiper-wrapper">
                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">15%</span>
                            <span class="badge bg-info">New</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-redmi-note.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">Smartphones</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Redmi Note 10S 128GB Pebble White</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$349
                                    </span>

                                    <del class="text-muted"><small>$499</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->

                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">16%</span>
                            <span class="badge bg-success">Top</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-dell-latitude.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">Notebooks</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Dell Latitude 5420 Ultrabook</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$1299
                                    </span>

                                    <del class="text-muted"><small>$1499</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->

                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">8%</span>
                            <span class="badge bg-success">Top</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-samsung-vr.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">VR Headsets</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Samsung Gear VR Headset</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$399
                                    </span>

                                    <del class="text-muted"><small>$449</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->

                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">13%</span>
                            <span class="badge bg-info">New</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-xiaomi-tracker.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">Fitness Trackers</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Xiaomi Redmi Smart Band Pro Black</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$49
                                    </span>

                                    <del class="text-muted"><small>$99</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->

                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">20%</span>
                            <span class="badge bg-success">Top</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-kardon-speaker.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">Speakers</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Harman Kardon Onyx Studio 7 Blue</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$149
                                    </span>

                                    <del class="text-muted"><small>$199</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->

                <!-- Swiper Slide -->
                <div class="swiper-slide">
                    <div class="card card-product border h-100">
                        <!-- Badges -->
                        <div class="product-badges">
                            <span class="badge bg-danger">15%</span>
                            <span class="badge bg-info">New</span>
                        </div>
                        <!-- Badges -->

                        <!-- Buttons -->
                        <div class="product-buttons">
                            <button class="btn-product btn-wishlist" type="button" data-bs-toggle="button"
                                autocomplete="off" title="Add to wishlist"><i class="ri-heart-line"></i></button>
                            <a class="btn-product btn-compare" href="#" title="Compare product">
                                <i class="ri-repeat-line"></i>
                            </a>
                            <a class="btn-product btn-view" href="#modal-quick-view" data-bs-toggle="modal"
                                title="Quick preview">
                                <i class="ri-eye-line"></i>
                            </a>
                        </div>
                        <!-- Buttons -->

                        <!-- Preview Image -->
                        <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="#">
                            <img class="img-fluid" src="~/img/product-card/product-beats-earphones.png" alt="Product">
                        </a>
                        <!-- Preview Image -->

                        <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 rounded-3 py-4">
                            <!-- Product Category -->
                            <a class="product-category d-block link-dark fs-sm pb-1" href="#">Earphones</a>
                            <!-- Product Category -->

                            <!-- Product Title -->
                            <h3 class="product-title flex-grow-1">
                                <a href="#">Beats Studio Buds Earphones White</a>
                            </h3>
                            <!-- Product Title -->

                            <!-- Star Rating -->
                            <span class="star-rating star-8"></span>
                            <!-- Star Rating -->

                            <div class="d-flex align-items-center justify-content-between w-100">
                                <!-- Product Price -->
                                <div class="product-price">
                                    <span class="text-danger d-block mb-n2 fs-5">$249
                                    </span>

                                    <del class="text-muted"><small>$299</small></del>
                                </div>
                                <!-- Product Price -->

                                <!-- Button -->
                                <button class="btn btn-sm btn-outline-primary py-1 px-3" title="Add to cart"
                                    type="button"><i class="ri-shopping-cart-line fs-5"></i></button>
                                <!-- Button -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Slide -->
            </div>
        </div>
    </div>
    <!-- Slider -->
</div>
<!-- Product Cards -->

<!-- Banner -->
<div class="container py-4 py-lg-10">
    <div class="row">
        <div class="col">
            <div class="d-sm-flex justify-content-between align-items-center bg-light overflow-hidden border rounded-1">
                <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                    <h6 class="fs-xs text-info text-uppercase mb-2">Weekend Discount</h6>
                    <h3 class="fw-medium mb-2">New iPad Pro Collection</h3>
                    <h6 class="fs-base fw-normal text-nowrap mb-4">Don't miss the great offer.</h6>
                    <a class="btn btn-primary btn-shadow" href="#">Shop Now</a>
                </div>
                <img class="d-block ms-auto" src="~/img/shop/banner.png" alt="Shop Converse">
            </div>
        </div>
    </div>
</div>
<!-- Banner -->